<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "color": "/script/colors.js"
        }
      }
    </script>

    <title>Yarn Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    #top-bar {
      height: 5vh;
    }
    
    @media only screen and (max-width: 768px) {
      #color-selector {
        height: 100vw;
        width: 100vw;
      }

      #yarn-results {
        height: calc(95vh - 100vw);
        overflow-y: scroll;
      }
    }

    @media only screen and (min-width: 768px) {
      #color-selector {
        height: 95vh;
      }

      #yarn-results {
        height: 95vh;
        overflow-y: scroll;
      }
    }
    </style>
  </head>

  <body class="w-screen h-screen overflow-hidden">
    <div class="align-middle border flex flex-row justify-between p-2 w-screen" id="top-bar">
      <div class="align-middle flex flex-row space-x-2">
        <img class="h-6 w-6" src="/favicon.ico" />
        <span class="font-bold">Yarn Finder</span>
      </div>

      <div class="align-middle flex flex-row space-x-2">
        <div class="font-bold">Color:</div>
        <pre><code id="color-input-text"></code></pre>
        <input id="color-input" type="color" />
      </div>

      <a
        href="https://github.com/crockeo/yarn-finder"
        target="_blank"
      >
        <img class="h-6 w-6" src="/github.png" />
      </a>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-7">
      <div class="md:col-span-5" id="color-selector"></div>
      <div class="md:-ml-8 p-2 space-y-2 md:col-span-2" id="yarn-results"></div>
    </div>
  
    <div class="absolute hue-rotate-180 border-2 rounded-full h-8 shadow w-8" id="color-pin" style="visibility:hidden"></div>

    <script type="module" src="/script/index.js"></script>
    <script type="module">
      import { main } from "/script/index.js";
      main();
    </script>
  </body>
</html>
