<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "color": "/script/colors.js"
        }
      }
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    @media only screen and (max-width: 768px) {
      #color-selector {
        height: 100vw;
        width: 100vw;
      }

      #yarn-results {
      }
    }

    @media only screen and (min-width: 768px) {
      #color-selector {
        flex-grow: 1;
        width: 75vw;
      }

      #yarn-results {
        width: 25vw;
      }
    }
    </style>
  </head>

  <body>
    <div class="flex flex-col md:h-screen w-screen">
      <div class="align-middle flex flex-row justify-between p-2">
        <div class="align-middle flex flex-row space-x-2">
          <a
            href="https://github.com/crockeo/yarn-finder"
            target="_blank"
          >
            <img class="h-6 w-6" src="/github.png" />
          </a>
          <span class="font-bold">Yarn Finder</span>
        </div>

        <div class="align-middle flex flex-row space-x-2">
          <div class="font-bold">Color:</div>
          <pre><code id="color-input-text"></code></pre>
          <input id="color-input" type="color" />
        </div>
      </div>

      <div class="flex h-screen flex-col w-screen md:flex-row">
        <div id="color-selector"></div>
        <div id="yarn-results"></div>
      </div>

      <div class="absolute hue-rotate-180 border-2 rounded-full h-8 shadow w-8" id="color-pin" style="visibility:hidden"></div>
    </div>

    <script type="module" src="/script/index.js"></script>
    <script type="module">
      import { main } from "/script/index.js";
      main();
    </script>
  </body>
</html>
